:root {
    --normal-font: 'Share Tech', sans-serif;
    --header-font: 'Oswald', sans-serif;
    --gold: #FFD700;
}

::selection {
    color: #030c1c;
    background-color: var(--gold);
}

::-webkit-scrollbar {
    width: 8px;
}  
  
::-webkit-scrollbar-track {
    background-color: #030c1c;
}
   
::-webkit-scrollbar-thumb {
    background: var(--gold); 
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--normal-font);
    box-sizing: border-box;
}

body {
    background-color: #e9e6ce;
}

header .navbar .navbar-nav li .nav-link {
    display: block;
    width: fit-content;
    color: var(--bs-white);
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    border: none;
    font-family: var(--header-font);
    position: relative;
    max-width: max-content;
}

header .navbar .navbar-nav li .nav-link.active {
    color: var(--gold);
}

header .navbar .navbar-nav li .nav-link:hover {
    color: var(--gold);
    opacity: .8;
}

header .navbar .navbar-nav li .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-block: 1px solid var(--gold);
    transform: scaleX(0.2);
    opacity: 0;
    transition: .5s;
}

header .navbar .navbar-nav li .nav-link:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
    opacity: 1;
}

.section-header {
    font-family: "Roboto", sans-serif;
}

.main-bg {
    margin-top: 15vh;
    background-color: #0b0c08;
    padding: 2rem 0;
}

.swiper-slide {
    color: var(--gold);
}

.swiper-slide .row {
    margin: auto;
} 

.swiper-slide h1 {
    color: white;
    margin-left: 10px;
    text-shadow: 1px 1px 2px black, 0 0 25px var(--gold), 0 0 5px #00008b;
    animation: showtext 1s ease-in;
}

.swiper-slide p {
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 10px;
    animation: showtext 1.5s ease-in;
}


@keyframes showtext {
    0% {
        opacity: 0;
        filter: blur(5px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.swiper-slide img {
    margin: 20px 0;
    height: 70vh;
    width: 70%;
    object-fit: cover;
    filter: drop-shadow(0 0 10px);
    border-radius: 5px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
}

.staff-pic {
    height: 30vh;
    width: 70%;
    border: 5px solid #0c2b0c;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0;
}

.orari {
    font-family: "Shadows Into Light", cursive;
    color: #721a0c;
}

.phone-link, .map-link {
    height: fit-content;
    text-decoration: none;
    color: inherit;
    transition: .3s ease-in-out;
}

.phone-link {
    font-size: 3rem;
}

.phone-link:hover, .phone-link:active, .map-link:hover, .map-link:active {
    color: #217021;
}

.map-link {
    font-size: 1.5rem;
}

.orari-container {
    width: 70%;
    padding: 3rem 2rem;
    border-radius: 20px;
    background-color: #a8bde7;
}

.card h5 {
    font-family: "Roboto", sans-serif;
}

.card-body .btn {
    background-color: var(--gold);
    transition: .1s ease-in-out;
}

.card-body .btn:hover {
    opacity: .9;
}

footer .img-fluid {
    display: block;
    width: 50%;
    margin: 1rem auto;
}

footer h4 {
    font-family: var(--header-font);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-top: 1rem;
    width: fit-content;
    transition: .2s ease-in;
}

footer ul li:hover {
    transform: translateX(20px);
    color: var(--blue);
}

footer ul li i:nth-child(2) {
    font-size: 1.2rem;
}

footer ul li a {
    text-decoration: none;
    color: inherit;
}

footer iframe {
    width: 90%;
}

@media only screen and (max-width: 767px) { 
    .swiper-slide img {
        height: 40vh !important;
    }

    .phone-link {
        font-size: 2rem;
    }

    .phone-link img {
        width: 48px;
        height: 48px; 
    }

    .map-link img {
        width: 32px;
        height: 32px;
    }

    .orari-container {
        width: 100%;
    }
    

    footer .img-fluid {
        width: 70%;
        margin: 2rem auto;
    }
}